In [16]:
import zipfile

In [91]:
import seaborn as sns
import pandas as pd
import zipfile
import numpy as np
import csv
import datetime

In [92]:
with zipfile.ZipFile("C:/Users/aroos/Desktop/10553230.zip") as z:
    print("Files in the zip are: ", z.namelist())

Files in the zip are:  ['data/CI.csv', 'data/ACN.csv', 'data/AES.csv', 'data/CNP.csv', 'data/DTE.csv']

In [96]:
#3

In [106]:
data3 = 'C:/Users/aroos/Desktop/data/ACN.csv'
df3 =pd.read_csv(data3) 
df3['Log Returns']= np.log(df3['Close'] / df3['Close'].shift(1))

In [107]:
df3.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns
0,2017-01-03,103.707,104.086,102.328,102.894,2351600,0.0,0.0,NaN
1,2017-01-04,103.291,104.078,102.867,103.141,2639800,0.0,0.0,0.002398
2,2017-01-05,103.353,103.495,101.560,101.595,3685400,0.0,0.0,-0.015103
3,2017-01-06,101.595,103.141,101.021,102.752,4125300,0.0,0.0,0.011324
4,2017-01-09,102.611,102.797,101.533,101.604,2550800,0.0,0.0,-0.011235

In [112]:
mean = df3['Close'].mean()
print(mean)

201.99049271523177

In [113]:
df3['Close'].std()

72.64382141133197

In [114]:
df3['Close'].min()

100.022

In [115]:
df3['Close'].max()

397.037

#2nd PART

In [57]:
import pandas as pd
companies = pd.read_csv('C:/Users/aroos/Desktop/companies_no_subindustry.csv')
print(companies.head())

  Symbol     Security  GICS_Sector                       hq    included  \
0    MMM           3M  Industrials    Saint Paul, Minnesota  09.08.1976
1    AOS  A. O. Smith  Industrials     Milwaukee, Wisconsin  26.07.2017
2    ABT       Abbott  Health Care  North Chicago, Illinois  31.03.1964
3   ABBV       AbbVie  Health Care  North Chicago, Illinois  31.12.2012
4   ABMD      Abiomed  Health Care   Danvers, Massachusetts  31.05.2018

       Founded
0         1902
1         1916
2         1888
3  2013 (1888)
4         1981

In [58]:
1

1

In [59]:
df.included.isnull()

0      True
1      True
2      True
3      True
4      True
       ...
498    True
499    True
500    True
501    True
502    True
Name: included, Length: 503, dtype: bool

In [60]:
2

2

In [61]:
df.included.dropna()

186    2009.0
476    2005.0
Name: included, dtype: float64

In [69]:
df['included'] = pandas.to_datetime(df['time'], unit='s')

NameError: name 'pandas' is not defined

In [64]:
! pip install matplotlib

Requirement already satisfied: matplotlib in c:\anaconda\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\anaconda\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\anaconda\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\anaconda\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\anaconda\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\anaconda\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [65]:
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
%config InlineBackend.figure_format='retina'

In [ ]:
3

In [126]:
df=pd.Dataframe(columns= 'included')
df.plot(kind='pie', subplots=True, figsize=(8, 8))
plt.show()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
5 Joining Datasets

In [73]:
df1= pd.read_csv('C:/Users/aroos/Desktop/companies_no_subindustry.csv')
df2= pd.read_csv('C:/Users/aroos/Desktop/companies_subindustry.csv')

In [78]:
merged_df = pd.merge(df1, df2, on='Symbol', how='left')
merged_df.head()

,Symbol,Security,GICS_Sector,hq,included,Founded,subindustry
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916,Building Products
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888,Health Care Equipment
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888),Pharmaceuticals
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981,Health Care Equipment

In [ ]:
#3rd PART

In [79]:
data = np.random.randint(100, 500, size=4)
df1 = pd.DataFrame(data, columns=['included'])

# displaying random integers in data frame
print(df)

    Symbol              Security             GICS_Sector  \
0      MMM                    3M             Industrials
1      AOS           A. O. Smith             Industrials
2      ABT                Abbott             Health Care
3     ABBV                AbbVie             Health Care
4     ABMD               Abiomed             Health Care
..     ...                   ...                     ...
498    YUM           Yum! Brands  Consumer Discretionary
499   ZBRA    Zebra Technologies  Information Technology
500    ZBH         Zimmer Biomet             Health Care
501   ZION  Zions Bancorporation              Financials
502    ZTS                Zoetis             Health Care

                          hq  included      Founded
0      Saint Paul, Minnesota       NaN         1902
1       Milwaukee, Wisconsin       NaN         1916
2    North Chicago, Illinois       NaN         1888
3    North Chicago, Illinois       NaN  2013 (1888)
4     Danvers, Massachusetts       NaN         1981
..                       ...       ...          ...
498     Louisville, Kentucky       NaN         1997
499   Lincolnshire, Illinois       NaN         1969
500          Warsaw, Indiana       NaN         1927
501     Salt Lake City, Utah       NaN         1873
502   Parsippany, New Jersey       NaN         1952

[503 rows x 6 columns]

In [81]:
plt.style.use('classic')

x = np.linspace(0, 2, 100)


plt.figure(figsize=(8,4))
plt.plot(x, x, label='linear',  linewidth=2.0)
plt.plot(x, x**2, label='quadratic')
plt.plot(x, np.sqrt(x),'k^:',label='sqrt')

plt.xlabel('x label')
plt.ylabel('y label')
plt.title("Basic plots")

plt.legend(loc = 'best');

In [ ]:
Histogram

In [83]:

plt.figure(figsize=(5,5))

plt.hist(x, bins = 50, density= True, facecolor='g')

plt.xlabel('included')
plt.ylabel('Symbol')
plt.title('Histogram of X')


plt.grid(True)